body {
    margin: 0;
    padding: 0;
    color: white;
    transition: opacity 2s;
    overflow-x: hidden;

}
.navbar{
    width: 100%;
    display: flex;
    background-color: rgba(133, 141, 130, 0.735);
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    align-items: center;
    padding: 20px 0;
}

.navbar h4{
    color: white;
    font-family: "Staatliches";
    font-size: 1.3em;
    margin-left: 30px;
}

.btn {
    background-color: #9CBCD9;
    color: #51594C;
    border: solid 2px #9CBCD9;
}
a {
    color: white;
}
a:hover {
    color: #51594C;
}


.title{
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: "Staatliches";
    letter-spacing: 9px;
    font-size: 120px;
    z-index: 0;
}


.title2{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: "Staatliches";
    letter-spacing: 9px;
    font-size: 40px;
    z-index: 0;
}


.images{
    /* background-image: linear-gradient(rgba(18, 18, 19, 0.50), rgba(18, 18, 19, 0.25)); */
    width: 100vh;
    height: 100vw;
    position: relative;
    z-index: -2;
    top: -10%;
}


.image-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;

}

.image-wrapper img{
    width: 100%;
    height: 100%;
}


.content{
    height: 100vh;
    width: 100vw;
    background-color:  white;
    z-index: 0;
    top: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texas-topo{
    width: 30%;
}
/* 
.container{
    width: 100vw;
    height: 100vh;
} */


#first-section{
    height: 100vh;
    width: 100vw;
}

.stat {
    font-family: "Staatliches";
}

.raleway {
    font-family: "Raleway";
}

.modal-body {
    background-color: #51594C !important;
    color: white;
}

/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    /* position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  } */

/* #myTooltip {
    display: inline-block;
    padding: 15px;
    background: rgba(0,0,0,.5);
    color: white;
    position: absolute;
    display: none;
} */