body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: opacity 2s;
}

section{
    height: 100vh;
    width: 100vw;
}

.container{
    width: 100vw;
    height: 100vh;
}

.nav-wrapper{
    width: 100%;
    display: flex;
    background-color: rgba(133, 141, 130, 0.735);
    justify-content: space-between;
    position: absolute;
    top: 0;
    align-items: center;
    padding: 20px 0;

}

.nav-wrapper h4{
    color: white;
    font-family: "Staatliches";
    font-size: 1.3em;
    margin-left: 30px;
}

.nav-wrapper .button {
    text-decoration: none;
    color: white;
    font-family: "Staatliches";
    padding: 10px 20px;
    background-color: rgb(163, 199, 211);
    margin-right: 30px;
    border-radius: 4px;
    font-size: 1.3em;
}



.title{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: "Staatliches";
    letter-spacing: 9px;
    font-size: 180px;
    z-index: -2;
}


.images{
    /* background-image: linear-gradient(rgba(18, 18, 19, 0.50), rgba(18, 18, 19, 0.25)); */
    width: 100%;
    height: 110%;
    position: relative;
    z-index: -3;
    top: -10%;
}




.image-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;

}

.image-wrapper img{
    width: 100%;
    height: 100%;
}

.blur{
    width: 100%;
    height: 250px;
    background-color:  rgba(133, 141, 130, 0.735);
    position: absolute;
    bottom: -170px;
    filter: blur(40px);
    z-index: 999;
}

.content{
    height: 100%;
    width: 100%;
    background-color:  rgba(133, 141, 130, 0.735);
    z-index: 0;
    top: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texas-topo{
    width: 40%;
}
 