
.cabin {
    font-family: "Cabin";
}

.sans {
    font-family: "Open Sans";
}

body {
    font-family: "Open Sans";
    background-color: #F4E9E1;
}

.jumbotron {
    background-image: url("https://tpwd.texas.gov/state-parks/palo-duro-canyon/gallery/lighthouse-peak.jpg");
    
}

.card {
    border: solid 3px #9B6A59;
}


.btn {
    background-color: #FEE085;
    color: #9B6A59;
}
