h2, h4, h5 {
    font-family: "Cabin" !important;
}

body {
    font-family: "Open Sans" !important;
    background-color: rgb(241, 222, 196) !important;
}

.card {
    padding: 7% !important;
    border-radius: 2% !important;
}